name: Tests

on:
  push:
    branches:
      - main
      - dev
  pull_request:

jobs:
  pytest:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up ROS Humble
        uses: ros-tooling/setup-ros@v0.7
        with:
          required-ros-distributions: humble

      - name: Install ROS Python dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            ros-humble-rclpy \
            ros-humble-rosbag2-py \
            ros-humble-rosidl-runtime-py \
            ros-humble-rosbag2-storage-default-plugins \
            ros-humble-sensor-msgs \
            ros-humble-sensor-msgs-py

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install project dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[dev]

      - name: Run pytest
        run: |
          source /opt/ros/humble/setup.bash
          pytest -q

